<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">  <ion-list>
    <ion-item *ngFor="let tour of favService.favTours"
              [routerLink]="['/details/', tour.ID]"
              routerDirection="forward">
      {{ tour.Title }}
    </ion-item>
    <ion-item *ngIf="favService.favTours?.length==0">
      Go and choose your favorites!
    </ion-item>
  </ion-list>
  
   <!-- <ion-button href="/details">Show details</ion-button> -->
    <ion-button routerLink="/details" routerDirection="forward"> Show details</ion-button>
  </ion-content>
</ion-content>
